# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
.installed.cfg
*.egg
*.whl
build/
dist/
*.pyz
*.pyz.zip
*.zip
.env.dev

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
.junit_cache/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/
*.iml
*.ipr
*.iws

# VSCode
.vscode/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*~
.nfs*

# Logs and temporary files
/logs/*
*.log
*.tmp
*.temp
*.swp
*.swo
*.bak
*.orig
*.rej
*~.nib
*.pyo
*.~undo-tree~
*.un~
Session.vim

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

.env.dev
